/**
 *
 * Author : SquidGuy09
 *
 * Colors
 **/

* {
    background:     #00000080;
    background-alt: #28282880;
    foreground:     #ffffff;
    selected:       #dadada;
    active:         #70d247;
    urgent:         #FB4934FF;
}
     
